* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #e6cea8 ;
    font-family: 'Roboto', sans-serif; 
  }
  
  header {
    padding: 32px 0;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  
  header h1 span {
    color: #1f140e;
  }

  h1 {text-shadow: 0.1em 0.1em 0.2em black}
  
  #rio {
    color: #1f140e;
  }

  h1, .bota{
    font-family: 'Roboto Serif';
    text-transform: uppercase;
    color: #1f140e;
  }

  .bota {
    text-decoration: none;
    width: 160px;
    padding:16px;
    font-size: 20px;
    background-color: #977961;
    margin: 8px;
    text-align: center;
    list-style-position: center;
    border-radius: 10%;
  }

  li :hover{
    background-color: #deab7f;
  }

  li {
    display: inline-flex;
    margin-left: 100px;
    margin-right: 100px;
  }

